body {
  margin: 0;
  padding: 1vw;
  font-family: sans-serif;
  height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav {
  display: flex;
  background-color: blueviolet;
  color: white;
  align-items: baseline;
  padding: 1vh 0;
}

.logo {
  padding: 0 10vw;
}

.nav-item-1 {
  color: white;
  padding-left: 5vw;
  text-decoration: none;
}

.copyright {
  background-color: blueviolet;
  padding: 1vh 5vw;
  margin-top: 10px;
}

.copyright-text {
  color: white;
}

#main,
.try {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 1fr 1fr;
  margin: 0;
  padding: 10vh 2vw;
  grid-gap: 20px;
}

.card-group {
  object-fit: cover;
  width: 100%;
}

.cards {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.card-img {
  max-width: 100%;
  max-height: 30vh;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.title-info {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

.card-title {
  margin: 0;
}

.card-btn {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}
