body {
  margin: 0;
  padding: 1vw;
  font-family: sans-serif;
  height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav {
  display: flex;
  background-color: #0d6efd;
  color: #fff;
  align-items: baseline;
  padding: 1vh 0;
}

.logo {
  padding: 0 19vw;
}

.nav-items {
  display: none;
}

.card-group {
  padding-bottom: 2.5vh;
}

.title-info {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

.copyright {
  background-color: #0d6efd;
  color: #fff;
  padding: 1vh 5vw;
  margin-top: 10px;
  font-size: 13px;
}

.copyright-text {
  color: #fff;
}

.details-container {
  background-color: white;
  padding: 16px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  clear: left;
  z-index: 3;
  position: fixed;
  top: 0.1%;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
}

.popup-image {
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.details-container span {
  margin-right: 10px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 5px;
  text-align: right;
}

.commentsDiv {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

.popup-title,
.comment-center,
.add-comment-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #0d6efd;
}

.comment-list {
  display: flex;
  flex-direction: column;
}

.comment-item {
  list-style-type: none;
}

.comment-input {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.name {
  width: 35vw;
}

.comment {
  width: 50vw;
  height: 7vh;
}

.popup-comment {
  width: 20vw;
}

@media screen and (min-width: 840px) {
  .fa-heart {
    cursor: pointer;
  }

  .logo {
    padding: 0 10vw;
  }

  .nav-items {
    display: flex;
    padding-left: 10vw;
  }

  .nav-item-1 {
    color: #fff;
    padding-left: 5vw;
    text-decoration: none;
    font-weight: 600;
    font-size: 25px;
  }

  .nav-item-1:hover {
    color: #ddeafb;
  }

  .copyright {
    font-size: 25px;
  }

  #main,
  .try {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 1fr 1fr;
    margin: 0;
    padding: 5vh 2vw;
    grid-gap: 3rem;
  }

  .card-group {
    padding-bottom: 0;
    object-fit: cover;
    width: 100%;
  }

  .card-img-top {
    max-width: 100%;
    max-height: 50vh;
  }

  .card-body {
    display: flex;
    flex-direction: column;
  }

  .card-title {
    margin: 0;
  }

  .card-btn {
    display: flex;
    flex-direction: column;
    padding: 0 6vw 0 0;
  }

  .popup-image {
    display: flex;
    align-items: center;
    padding: 0 15vw;
  }
}
