body {
  margin: 0;
  padding: 1vw;
  font-family: sans-serif;
  height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav {
  display: flex;
  background-color: blueviolet;
  color: white;
  align-items: baseline;
  padding: 1vh 0;
}

.logo {
  padding: 0 10vw;
}

.nav-item-1 {
  color: white;
  padding-left: 5vw;
  text-decoration: none;
}

.copyright {
  background-color: blueviolet;
  padding: 1vh 5vw;
  margin-top: 10px;
}

.copyright-text {
  color: white;
}

.card {
  display: flex;
}
